--- --- @import "minima";

/* your custom overrides */

html {
    direction: rtl;
}

body {
    text-align: right;
}

.page-content,
.post-content,
.wrapper {
    direction: rtl;
    text-align: right;
}

pre,
code {
    direction: ltr !important;
    text-align: left !important;
    unicode-bidi: embed;
}