---
---

@font-face {
  font-family: "Vazirmatn-Bold";
  src: url("./fonts/Vazirmatn-Bold.woff2") format("woff2");
}

@import "minima";

html {
  direction: rtl;
}

body {
  text-align: right;
}

.page-content,
.post-content,
.wrapper {
  direction: rtl;
  text-align: right;
}

pre,
code {
  direction: ltr !important;
  text-align: left !important;
  unicode-bidi: embed;
}

h1,h2,h3,h4,h5,h6{
	font-weight: bold!important;
	font-family: "Vazirmatn-Bold"
}

h1{
   line-height: 3rem;
}

h2{
    padding-bottom: 0.5rem;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 2rem;
}
ul, ol {
    margin-right: 30px;
}
p{
line-height: 2.1rem;
    padding: 0 1rem;
    max-width: 42rem;
    text-align: justify;
    margin-bottom: 1rem;
}
